body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    padding: 8px;
    margin-right: 10px;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}